.map-container {
  float: left;
  width: 100%;
}

.site-header{
  paddin-top: 40px;
  padding-bottom: 40px;
}

.filters{
    padding: 20px 0;
}


.info-container {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  #close-info{
    float: right;
  }
  table {
    display: none;
    margin-top: 30px;
    tr {
      td:last-child {
        word-break: break-all;
      }
    }
  }
}

