/* -------------------------------- */
/* Custom fonts
/* -------------------------------- */
/* ******************************** */
/* blanch-condensed
/* ******************************** */
@font-face {
  font-family: 'blanch-condensed';
  src: url("../Fonts/blanch-condensed.eot");
  src: url("../Fonts/blanch-condensed.eot?#iefix") format("embedded-opentype"), url("../Fonts/blanch-condensed.woff") format("woff"), url("../Fonts/blanch-condensed.ttf") format("truetype"), url("../Fonts/blanch-condensed.svg#blanch-condensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-medium
/* ******************************** */
@font-face {
  font-family: 'avenir-medium';
  src: url("../Fonts/avenir-medium.eot");
  src: url("../Fonts/avenir-medium.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-medium.woff") format("woff"), url("../Fonts/avenir-medium.woff2") format("woff2"), url("../Fonts/avenir-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-medium-oblique
/* ******************************** */
@font-face {
  font-family: 'avenir-medium-oblique';
  src: url("../Fonts/avenir-medium-oblique.eot");
  src: url("../Fonts/avenir-medium-oblique.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-medium-oblique.woff") format("woff"), url("../Fonts/avenir-medium-oblique.woff2") format("woff2"), url("../Fonts/avenir-medium-oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-black
/* ******************************** */
@font-face {
  font-family: 'avenir-black';
  src: url("../Fonts/avenir-black.eot");
  src: url("../Fonts/avenir-black.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-black.woff") format("woff"), url("../Fonts/avenir-black.woff2") format("woff2"), url("../Fonts/avenir-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ***** BASE STYLES ***** */
h1 {
  font-size: 30px;
  font-family: "blanch-condensed", Helvetica, sans-serif; }

h2 {
  font-size: 20px;
  font-family: "blanch-condensed", Helvetica, sans-serif; }

h3 {
  font-size: 18px;
  font-family: "blanch-condensed", Helvetica, sans-serif; }

h4 {
  font-size: 16px;
  font-family: "blanch-condensed", Helvetica, sans-serif; }

p {
  font-size: 14px;
  font-family: Helvetica, sans-serif; }

*:focus {
  outline: 0; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.width-fluid {
  width: 100%; }

.no-border {
  border: 0 !important; }

.no-padding {
  padding: 0 !important; }

.padding-30 {
  padding: 30px; }

/* ------------------------------- */
/* Layout styles 
/*-------------------------------- */
/* ******************************* */
/* .header-wrapper
/* ******************************* */
.header-wrapper {
  padding: 25px 0; }

/* ******************************* */
/* .banner-wrapper 
/* ******************************* */
/* ******************************* */
/* .main-navigation-wrapper
/* ******************************* */
.main-navigation-wrapper {
  background: #009999; }

.content-container {
  background: #fff;
  padding: 30px;
  border-bottom: 20px solid #009999; }

@media (max-width: 992px) {
  .content-container {
    margin-bottom: 30px; } }
/* ******************************* */
/* .body-wrapper
/* ******************************* */
.body-wrapper {
  padding: 30px 0 30px 0;
  background-color: #dfdee0; }
  .body-wrapper.error-page {
    background: url("../images/Layout/generic-skin/error-bg.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 445px; }
  .body-wrapper .row {
    margin-top: 55px; }
    .body-wrapper .row:first-child {
      margin-top: 0; }

/* ******************************* */
/* .bg-letters-container
/* ******************************* */
.bg-letters-container {
  background: #dfdee0; }
  .bg-letters-container .container {
    background: url("../images/layout/generic-skin/bg-letters.jpg") no-repeat center top;
    background-size: 100%;
    height: 600px;
    -ms-behavior: url(../backgroundsize.min.htc); }

/* ******************************* */
/* .footer-wrapper
/* ******************************* */
.footer-wrapper {
  padding: 40px 0; }

@media (max-width: 768px) {
  .body-wrapper .row {
    margin-top: 0px; } }
/* ******************************* */
/* .header-navigation-container
/* ******************************* */
.header-navigation-container ul li {
  display: block;
  float: left; }
  .header-navigation-container ul li:before {
    content: "|";
    padding-right: 10px;
    vertical-align: top; }
  .header-navigation-container ul li:first-child:before {
    content: none; }
  .header-navigation-container ul li a {
    color: #000;
    font-family: "avenir-medium", Helvetica, sans-serif;
    font-size: 16px; }
    .header-navigation-container ul li a:hover {
      text-decoration: none; }

@media (max-width: 768px) {
  .header-navigation-container {
    float: left !important;
    clear: left;
    margin-top: 20px; }
    .header-navigation-container ul {
      display: none; } }
/* ******************************* */
/* .main-navigation-container
/* ******************************* */
.main-navigation-container {
  position: relative;
  z-index: 20
  /* Top level */ }
  .main-navigation-container ul {
    margin: 0;
    padding: 0; }
    .main-navigation-container ul li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      position: relative
      /* Second level */
      /* Display drop down on hover */ }
      .main-navigation-container ul li ul {
        display: none;
        position: absolute;
        left: 0;
        top: 78px;
        min-width: 250px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .main-navigation-container ul li ul li {
          float: none;
          width: 100%; }
          .main-navigation-container ul li ul li a {
            display: block;
            width: 100%;
            padding: 25px 15px;
            color: #ffffff;
            font-family: "avenir-medium", Helvetica, sans-serif;
            font-size: 20px;
            background: #006666; }
            .main-navigation-container ul li ul li a:hover {
              background: #99004d; }
          .main-navigation-container ul li ul li.active a {
            background: #99004d; }
      .main-navigation-container ul li:hover ul {
        display: block; }
      .main-navigation-container ul li a {
        display: block;
        padding: 25px 15px;
        color: #ffffff;
        font-family: "avenir-medium", Helvetica, sans-serif;
        font-size: 20px; }
        .main-navigation-container ul li a:hover {
          background: #cc0066;
          text-decoration: none; }
  .main-navigation-container .navbar-toggle {
    position: relative;
    float: right;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 12px;
    -o-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box
    /* stops bg color from leaking outside the border: */ }
    .main-navigation-container .navbar-toggle .icon-bar {
      background-color: #fff;
      width: 30px;
      height: 5px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 0;
      margin: 0;
      padding: 0;
      display: block; }
      .main-navigation-container .navbar-toggle .icon-bar.first {
        top: 5px; }
      .main-navigation-container .navbar-toggle .icon-bar.last {
        bottom: 0; }
    .main-navigation-container .navbar-toggle.active .icon-bar.middle {
      background-color: transparent; }
    .main-navigation-container .navbar-toggle.active .icon-bar.first {
      top: 16px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .main-navigation-container .navbar-toggle.active .icon-bar.last {
      top: 16px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .main-navigation-container .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }

@media (max-width: 992px) {
  .main-navigation-container ul li {
    /* Second level */ }
    .main-navigation-container ul li a {
      font-size: 17px; }
    .main-navigation-container ul li ul {
      top: 74px;
      min-width: 200px; }
      .main-navigation-container ul li ul li a {
        font-size: 17px; } }
@media (max-width: 768px) {
  .main-navigation-container .navbar-collapse {
    max-height: none; }
  .main-navigation-container ul li {
    float: none;
    text-align: left
    /* Second level */ }
    .main-navigation-container ul li a {
      padding: 15px 5px; }
      .main-navigation-container ul li a:hover {
        background: #009999;
        color: #cc0066;
        text-decoration: none; }
    .main-navigation-container ul li ul {
      position: relative;
      top: auto;
      min-width: auto;
      display: block; }
      .main-navigation-container ul li ul li a {
        font-size: 17px;
        background: #009999;
        padding: 10px 5px 10px 20px; }
        .main-navigation-container ul li ul li a:before {
          content: "-"; }
        .main-navigation-container ul li ul li a:hover {
          background: #009999; } }
/* ******************************* */
/* .button-container 
/* ******************************* */
.button-container.flip {
  -webkit-perspective: 1000; }
  .button-container.flip .button {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 50px;
    -webkit-transition: all 0.6s cubic-bezier(0.37, 0.74, 0.15, 1.65);
    transition: all 0.6s cubic-bezier(0.37, 0.74, 0.15, 1.65);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px); }
    .button-container.flip .button:hover {
      -ms-transform: rotateX(90deg);
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -ms-transform: translateZ(50%);
      -webkit-transform: translateZ(50%);
      transform: translateZ(50%); }
    .button-container.flip .button .front-face, .button-container.flip .button .back-face {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .button-container.flip .button .front-face {
      background-color: #cc0066;
      -ms-transform: rotateX(0deg) translateZ(25px);
      -webkit-transform: rotateX(0deg) translateZ(25px);
      transform: rotateX(0deg) translateZ(25px); }
    .button-container.flip .button .back-face {
      background-color: #009999;
      -ms-transform: rotateX(-90deg) translateZ(25px);
      -webkit-transform: rotateX(-90deg) translateZ(25px);
      transform: rotateX(-90deg) translateZ(25px); }
      .button-container.flip .button .back-face:hover a {
        text-decoration: none; }
    .button-container.flip .button a {
      color: #fff;
      padding: 15px 20px 15px 20px;
      font-family: "avenir-black", Helvetica, sans-serif;
      display: block;
      color: #fff;
      font-size: 24px;
      width: 100%;
      text-transform: capitalize;
      line-height: 20px; }
      .button-container.flip .button a:hover {
        text-decoration: none; }
      .button-container.flip .button a span {
        float: right;
        background: url("../images/layout/generic-skin/right-arrow.png") no-repeat center right;
        width: 37px;
        height: 22px; }
    .button-container.flip .button input[type="submit"] {
      padding: 10px 20px;
      font-family: "avenir-black", Helvetica, sans-serif;
      display: block;
      color: #fff;
      font-size: 24px;
      border: 0;
      text-align: center;
      text-transform: capitalize;
      float: left;
      background: none; }
      .button-container.flip .button input[type="submit"]:hover {
        text-decoration: none; }

/* ******************************* */
/* .button-container 
/* ******************************* */
.button-container.no-flip .button {
  background-color: #cc0066; }
  .button-container.no-flip .button .back-face {
    display: none; }
  .button-container.no-flip .button:hover {
    background-color: #009999; }
  .button-container.no-flip .button a {
    padding: 15px 20px 15px 20px;
    font-family: "avenir-black", Helvetica, sans-serif;
    display: block;
    color: #fff;
    font-size: 24px;
    width: 100%;
    text-transform: capitalize;
    line-height: 20px; }
    .button-container.no-flip .button a:hover {
      text-decoration: none;
      background-color: #009999; }
    .button-container.no-flip .button a span {
      float: right;
      background: url("../images/layout/generic-skin/right-arrow.png") no-repeat center right;
      width: 37px;
      height: 22px; }
  .button-container.no-flip .button input[type="submit"] {
    padding: 10px 20px;
    font-family: "avenir-black", Helvetica, sans-serif;
    display: block;
    color: #fff;
    font-size: 24px;
    border: 0;
    text-align: center;
    text-transform: capitalize;
    float: left;
    background: none; }
    .button-container.no-flip .button input[type="submit"]:hover {
      text-decoration: none; }

@media (max-width: 768px) {
  .button-container.flip {
    -webkit-perspective: 0;
    -ms-perspective: 0;
    perspective: 0; } }
@media (max-width: 400px) {
  .button-container.flip a, .button-container.flip input, .button-container.no-flip a, .button-container.no-flip input {
    font-size: 14px;
    min-width: auto;
    padding: 10px 15px; } }
/* ******************************* */
/* .search-box-container
/* ******************************* */
.search-box-container {
  clear: both;
  margin-top: 8px; }
  .search-box-container input[type="text"] {
    min-width: 250px;
    padding: 12px;
    background: #eeeeee;
    border: 1px solid #cdcdcd;
    line-height: normal;
    font-size: 12px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box
    /* stops bg color from leaking outside the border: */ }
  .search-box-container button {
    padding: 11px 12px;
    background: #cc0066;
    color: #fff;
    font-size: 12px;
    border: 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-clip: padding-box
    /* stops bg color from leaking outside the border: */ }
    .search-box-container button:hover {
      background: #009999;
      color: #fff; }

@media (max-width: 400px) {
  /* ******************************* */
  /* .search-box-container
  /* ******************************* */
  .search-box-container input[type="text"] {
    min-width: 200px; } }
/* ******************************* */
/* .home-carousel-container
/* ******************************* */
.home-carousel-container .carousel-inner .item {
  padding: 200px 0 80px 0;
  min-height: 650px;
  -ms-behavior: url(../backgroundsize.min.htc); }
  .home-carousel-container .carousel-inner .item.active .slide-container {
    margin-top: 1px;
    opacity: 1; }
  .home-carousel-container .carousel-inner .item .slide-container {
    margin-top: 1px;
    opacity: 1;
    margin-top: -800px;
    opacity: 0;
    -webkit-transition: all 1.4s ease;
    transition: all 1.4s ease; }
    .home-carousel-container .carousel-inner .item .slide-container .slide-caption-container {
      padding: 50px;
      background: #009999; }
      .home-carousel-container .carousel-inner .item .slide-container .slide-caption-container h2 {
        font-size: 65px;
        color: #fff;
        margin: 0 0 10px 0;
        padding: 0; }
      .home-carousel-container .carousel-inner .item .slide-container .slide-caption-container p {
        font-family: "avenir-medium", Helvetica, sans-serif;
        font-size: 20px;
        color: #fff; }
  .home-carousel-container .carousel-inner .item .button-container {
    min-width: 280px;
    margin-right: 4px; }
    .home-carousel-container .carousel-inner .item .button-container.no-flip {
      margin-right: 0; }
.home-carousel-container .caption-info-container .carousel-indicators {
  bottom: 0px; }
  .home-carousel-container .caption-info-container .carousel-indicators li {
    background: #fff;
    margin: 4px;
    height: 16px;
    width: 16px; }
    .home-carousel-container .caption-info-container .carousel-indicators li.active {
      background: #cc0066;
      border: 0; }

@media (max-width: 768px) {
  .home-carousel-container .carousel-inner .item {
    padding: 60px 0 80px 0;
    min-height: auto; }
    .home-carousel-container .carousel-inner .item.active .slide-container {
      margin-top: 1px !important;
      opacity: 1; }
    .home-carousel-container .carousel-inner .item .slide-container {
      margin-top: 1px !important;
      opacity: 1; }
    .home-carousel-container .carousel-inner .item .button-container {
      min-width: 100%;
      opacity: 1;
      margin-right: 0; } }
/* ******************************* */
/* .footer-navigation-container
/* ******************************* */
.footer-navigation-container ul li:before {
  content: "|";
  padding-right: 10px;
  vertical-align: top; }
.footer-navigation-container ul li:first-child:before {
  content: none; }
.footer-navigation-container ul li a {
  font-family: "avenir-medium", Helvetica, sans-serif;
  color: #000;
  font-size: 16px; }
  .footer-navigation-container ul li a:hover {
    text-decoration: none; }
.footer-navigation-container p {
  font-family: "avenir-medium", Helvetica, sans-serif;
  font-size: 16px; }

@media (max-width: 768px) {
  .footer-navigation-container ul li {
    display: block;
    float: none;
    text-align: left;
    padding: 0;
    margin: 0; }
    .footer-navigation-container ul li:before {
      content: none; }
    .footer-navigation-container ul li a {
      font-size: 14px; }
  .footer-navigation-container p {
    font-size: 14px; } }
/* ******************************* */
/* .logo-container 
/* ******************************* */
@media (max-width: 400px) {
  .logo-container img {
    width: 60%; } }
/* ******************************* */
/* .built-by-container
/* ******************************* */
.built-by-container p {
  font-size: 16px; }
  .built-by-container p a {
    color: #000;
    font-family: "avenir-black", Helvetica, sans-serif; }

@media (max-width: 768px) {
  .built-by-container {
    float: left !important;
    clear: left; }
    .built-by-container p {
      font-size: 14px; }
      .built-by-container p a {
        font-size: 14px; } }
/* ******************************* */
/* .map-container
/* ******************************* */
.map-container {
  display: inline-block;
  min-height: 500px;
  width: 100%;
  margin: 70px 0 30px 0;
  padding: 30px; }

@media (max-width: 992px) {
  .map-container {
    margin-top: 30px; } }
/* ******************************* */
/* .login-box-container
/* ******************************* */
.login-box-container {
  float: left;
  background: #fff;
  padding: 30px;
  border-bottom: 20px solid #ffa800; }
  .login-box-container .text-block-container h2 {
    margin-top: 0;
    line-height: 35px;
    vertical-align: top;
    clear: left; }
  .login-box-container .text-block-container p {
    margin-bottom: 0; }
  .login-box-container .form-container input[type="text"], .login-box-container .form-container input[type="email"], .login-box-container .form-container input[type="password"] {
    padding-left: 15px;
    width: 100%; }
  .login-box-container .button-container {
    margin-bottom: 20px;
    float: left;
    width: 100%; }
    .login-box-container .button-container input {
      width: 100%; }

@media (max-width: 992px) {
  .login-box-container {
    width: 100%;
    margin-top: 30px; } }
/* ******************************* */
/* .error-message-container
/* ******************************* */
.error-message-container {
  margin-top: 190px; }
  .error-message-container h1 {
    font-family: "avenir-black", Helvetica, sans-serif;
    font-size: 124px;
    text-transform: uppercase;
    color: #fff; }
  .error-message-container h3 {
    font-family: "blanch-condensed", Helvetica, sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: justify; }
    .error-message-container h3 a {
      color: #cc0066; }

@media (max-width: 768px) {
  .error-message-container {
    margin-top: 100px; }
    .error-message-container h1 {
      font-size: 90px; }
    .error-message-container h3 {
      font-size: 30px; } }
@media (max-width: 400px) {
  .error-message-container {
    margin-top: 60px; }
    .error-message-container h1 {
      font-size: 70px; }
    .error-message-container h3 {
      font-size: 25px; } }
/* ******************************* */
/* .pagination-container
/* ******************************* */
.pagination-container {
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .pagination-container ul {
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    background-clip: padding-box
    /* stops bg color from leaking outside the border: */ }
    .pagination-container ul li {
      -o-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box
      /* stops bg color from leaking outside the border: */ }
      .pagination-container ul li a {
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        color: #fff;
        background: #009999;
        padding: 13px 21px;
        -o-border-radius: 0 !important;
        border-radius: 0 !important;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        border-right: 1px solid #fff;
        border-left: 1px solid #fff; }
        .pagination-container ul li a span {
          font-weight: bold; }
        .pagination-container ul li a:hover {
          background: #cc0066; }
      .pagination-container ul li.active a {
        background: #cc0066;
        border: 1px solid #cc0066; }
        .pagination-container ul li.active a:hover {
          background: #cc0066; }

@media (max-width: 768px) {
  .pagination-container ul li a {
    font-size: 12px;
    padding: 6px 14px; } }
/* ******************************* */
/* .module-container
/* ******************************* */
.module-container {
  background: #fff;
  border-bottom: 18px solid #ffa800; }
  .module-container .module-inner-container {
    padding: 25px 32px 32px 32px; }
    .module-container .module-inner-container h2 {
      font-family: 'blanch-condensed', sans-serif;
      color: #009999;
      font-size: 50px;
      margin-top: 0; }
    .module-container .module-inner-container p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 20px; }

@media (max-width: 1200px) {
  .module-container {
    margin-bottom: 30px; }
    .module-container .button-container.flip a, .module-container .button-container.no-flip a {
      font-size: 20px; } }
@media (max-width: 768px) {
  .module-container {
    margin-bottom: 30px; }
    .module-container .button-container.flip a, .module-container .button-container.no-flip a {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px; } }
.text-block-container {
  background: #fff; }
  .text-block-container h1 {
    font-family: "blanch-condensed", Helvetica, sans-serif;
    font-size: 80px;
    color: #009999;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 40px; }
  .text-block-container h2 {
    font-family: "blanch-condensed", Helvetica, sans-serif;
    font-size: 60px;
    color: #009999; }
  .text-block-container h3 {
    font-family: "avenir-black", Helvetica, sans-serif;
    font-size: 24px;
    color: #009999; }
  .text-block-container h4 {
    font-family: "avenir-medium", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px; }
  .text-block-container p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px; }
  .text-block-container a {
    color: #cc0066;
    font-weight: bold; }
  .text-block-container q.highlight {
    color: #009999;
    font-family: "avenir-black", Helvetica, sans-serif; }
  .text-block-container blockquote {
    padding-left: 50px;
    border-left: 15px solid #ffa800;
    font-family: "avenir-medium-oblique", Helvetica, sans-serif;
    font-size: 20px; }
  .text-block-container img {
    margin-bottom: 20px; }
  .text-block-container ul {
    margin: 0;
    padding: 0;
    list-style-position: inside; }
    .text-block-container ul li {
      list-style-type: disc;
      font-size: 55px;
      color: #ffa800;
      line-height: 35px; }
      .text-block-container ul li span {
        vertical-align: middle;
        padding-left: 15px;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
        color: #000; }

@media (max-width: 992px) {
  .text-block-container h1 {
    font-size: 50px; } }
@media (max-width: 768px) {
  .text-block-container h1 {
    line-height: normal;
    font-size: 50px; } }
/* ******************************* */
/* .multi-level-navigation
/* ******************************* */
.multi-level-navigation {
  /* 1st level navigation */ }
  .multi-level-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .multi-level-navigation ul li a {
      display: block;
      padding: 15px 15px 15px 30px;
      font-family: "avenir-medium", Helvetica, sans-serif;
      font-size: 16px;
      border-bottom: 1px solid #006c6c;
      color: #fff;
      background: #009999;
      line-height: 18px; }
      .multi-level-navigation ul li a:hover {
        text-decoration: none;
        border-left: 10px solid #ffa800; }
      .multi-level-navigation ul li a:focus {
        text-decoration: none; }
    .multi-level-navigation ul li.active > a {
      background: #cc0066 !important; }
    .multi-level-navigation ul li.dir {
      /* 2nd level navigation */ }
      .multi-level-navigation ul li.dir a span {
        float: right;
        height: 12px;
        width: 22px;
        background-image: url("../images/layout/generic-skin/down-arrow.png");
        background-position: center right;
        background-repeat: no-repeat; }
      .multi-level-navigation ul li.dir.open > a span {
        background-image: url("../images/layout/generic-skin/up-arrow.png"); }
      .multi-level-navigation ul li.dir ul li {
        /* 3rd level navigation */ }
        .multi-level-navigation ul li.dir ul li a {
          background: #006666;
          border-bottom: 1px solid #009999; }
          .multi-level-navigation ul li.dir ul li a span {
            background-image: url("../images/layout/generic-skin/down-arrow.png");
            background-position: center right;
            background-repeat: no-repeat; }
        .multi-level-navigation ul li.dir ul li.open > a span {
          background-image: url("../images/layout/generic-skin/up-arrow.png"); }
        .multi-level-navigation ul li.dir ul li.active > a {
          background-color: #99004d !important; }
        .multi-level-navigation ul li.dir ul li ul li a {
          background: #004c4d; }
        .multi-level-navigation ul li.dir ul li ul li.open > a span {
          background-image: url("../images/layout/generic-skin/up-arrow.png"); }
        .multi-level-navigation ul li.dir ul li ul li.active > a {
          background-color: #700038 !important; }

@media (max-width: 1200px) {
  .multi-level-navigation ul li a {
    padding: 15px 15px 15px 20px;
    font-size: 14px; } }
@media (max-width: 992px) {
  .multi-level-navigation ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 16px; } }
/* ******************************* */
/* .form-container
/* ******************************* */
.form-container .button-container {
  margin-top: 20px;
  text-align: center; }
  .form-container .button-container.flip {
    min-width: 120px;
    text-align: center; }
    .form-container .button-container.flip input {
      text-align: center;
      width: 100%; }
  .form-container .button-container.no-flip .button {
    min-height: 50px; }
.form-container .form-group {
  margin-top: 25px; }
  .form-container .form-group:first-child {
    margin-top: 0; }
  .form-container .form-group input[type="text"], .form-container .form-group input[type="email"], .form-container .form-group input[type="password"] {
    background: #eeeeee;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    font-size: 12px;
    color: #333; }
  .form-container .form-group textarea {
    background: #eeeeee;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    font-size: 12px;
    color: #333; }

@media (max-width: 992px) {
  .form-container .button-container {
    float: none !important;
    display: inline-block; } }
/* ******************************* */
/* .accordion-container
/* ******************************* */
.accordion-container {
  padding: 0; }
  .accordion-container .panel-group .panel {
    -o-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    margin: 0;
    padding: 0;
    border: 0; }
    .accordion-container .panel-group .panel .panel-heading {
      background: #009999;
      padding: 0;
      background: #009999;
      -o-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box
      /* stops bg color from leaking outside the border: */ }
      .accordion-container .panel-group .panel .panel-heading:hover {
        border-left: 10px solid #ffa800; }
      .accordion-container .panel-group .panel .panel-heading h4 {
        font-family: "avenir-medium", Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        line-height: 18px; }
        .accordion-container .panel-group .panel .panel-heading h4 a {
          display: block;
          padding: 15px 15px 15px 30px;
          background-color: #cc0066;
          border-bottom: 0; }
          .accordion-container .panel-group .panel .panel-heading h4 a:hover {
            text-decoration: none; }
          .accordion-container .panel-group .panel .panel-heading h4 a.collapsed {
            background-color: #009999;
            border-bottom: 1px solid #006c6c; }
            .accordion-container .panel-group .panel .panel-heading h4 a.collapsed span {
              background-image: url("../images/layout/generic-skin/down-arrow.png"); }
          .accordion-container .panel-group .panel .panel-heading h4 a:focus {
            text-decoration: none; }
          .accordion-container .panel-group .panel .panel-heading h4 a span {
            float: right;
            width: 22px;
            height: 12px;
            background-image: url("../images/layout/generic-skin/up-arrow.png");
            background-position: center right;
            background-repeat: no-repeat; }
    .accordion-container .panel-group .panel .panel-body {
      border-left: 1px solid #cc0066;
      border-right: 1px solid #cc0066;
      border-bottom: 1px solid #cc0066;
      padding: 0; }
      .accordion-container .panel-group .panel .panel-body .text-block-container {
        padding: 30px; }
        .accordion-container .panel-group .panel .panel-body .text-block-container p {
          margin: 0; }

/* ******************************* */
/* .sitempap-container
/* ******************************* */
.sitempap-container {
  /* First level */ }
  .sitempap-container ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sitempap-container ul > li {
      line-height: 38px
      /* Second level */ }
      .sitempap-container ul > li a {
        font-family: "avenir-black", Helvetica, sans-serif;
        color: #cc0066;
        font-size: 24px;
        vertical-align: middle; }
        .sitempap-container ul > li a:hover {
          text-decoration: none; }
      .sitempap-container ul > li ul {
        list-style-image: url("../images/layout/generic-skin/list-image-small.png");
        list-style-position: inside; }
        .sitempap-container ul > li ul li {
          /* Third level */ }
          .sitempap-container ul > li ul li a {
            color: #a30052;
            padding-left: 2px; }
          .sitempap-container ul > li ul li ul {
            list-style-image: url("../images/layout/generic-skin/list-image-large.png");
            list-style-position: inside; }
            .sitempap-container ul > li ul li ul li a {
              color: #75003b;
              padding-left: 2px; }

/* ******************************* */
/* .search-results-container
/* ******************************* */
.search-results-container {
  margin-top: 30px; }
  .search-results-container ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .search-results-container ul li {
      margin-bottom: 20px; }
      .search-results-container ul li .search-item-container h2 {
        margin: 0;
        padding: 0; }
        .search-results-container ul li .search-item-container h2 a {
          font-family: "avenir-black", Helvetica, sans-serif;
          color: #cc0066;
          font-size: 24px; }
          .search-results-container ul li .search-item-container h2 a:hover {
            text-decoration: none; }
      .search-results-container ul li .search-item-container span.location {
        display: block;
        margin: 17px 0; }
        .search-results-container ul li .search-item-container span.location a {
          color: #999999;
          font-family: Helvetica, sans-serif;
          font-size: 16px;
          font-style: italic; }
          .search-results-container ul li .search-item-container span.location a:hover {
            text-decoration: none;
            color: #009999; }
      .search-results-container ul li .search-item-container p {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0; }

/* ******************************* */
/* .news-list-container
/* ******************************* */
.news-list-container .news-item-container {
  float: left;
  margin-bottom: 30px; }
  .news-list-container .news-item-container img {
    float: left;
    margin-bottom: 30px;
    width: 100%; }
  .news-list-container .news-item-container .share-container p {
    color: #999999;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic; }
  .news-list-container .news-item-container .button-container.flip {
    min-width: 110px;
    text-align: center; }
  .news-list-container .news-item-container.story .button-container.flip {
    min-width: 180px;
    text-align: center; }

/*# sourceMappingURL=generic-skin.css.map */